<% layout('/layouts/boilerplate') -%>
<h1>Edit post</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div>
        <input type="text" name="post[title]" value="<%= post.title %>" placeholder="Title">
    </div>
    <div>
        <input type="text" name="post[price]" value="<%= post.price %>" placeholder="Price">
    </div>
    <div>
        <input id="image-upload" type="file" accept="images/*" name="images" multiple />
        <div>
            <% post.images.forEach(function (image, i) { %>
                <img src="<%= image.url %>" alt="image" width="100px">
                <label for="image<%= i %>">Delete</label>
                <input type="checkbox" name="deleteImage[]" class="image-delete" id="image<%= i %>" value="<%= image.public_id %>">
            <% }) %>
        </div>
    </div>
    <div>
        <textarea name="post[description]" placeholder="Description"><%= post.description %></textarea>
    </div>
    <div>
        <input type="text" name="post[location]" value="<%= post.location %>" placeholder="Location">
    </div>

    <input type="submit">
</form>

<script src="/javascript/post-edit.js"></script>
